@model IEnumerable<RRS.Models.Reservation>
<div class="container-fluid">
    <div class="row">
        <!-- Left Panel -->
        <div class="col-md-4">
            <h3>Table Reservations</h3>
            <div>
                <!-- Upcoming Reservations -->
                <h5>Upcoming</h5>
                @foreach (var reservation in Model.Where(r => r.Status == "Upcoming"))
                {
                    <div class="reservation-item">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="time">@reservation.Time</span>
                            <div class="details">
                                <div class="name fw-bold">@reservation.Name</div>
                                <div>
                                    <i class="fa-solid fa-users"></i> @reservation.Guests
                                    <i class="fa-solid fa-chair ms-3"></i> @reservation.Table
                                </div>
                            </div>
                            <button class="btn btn-danger">
                                <i class="fa-solid fa-phone"></i>
                            </button>
                        </div>
                    </div>
                }

                <!-- Seated Reservations -->
                <h5>Seated</h5>
                @foreach (var reservation in Model.Where(r => r.Status == "Seated"))
                {
                    <div class="reservation-item">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="time">@reservation.Time</span>
                            <div class="details">
                                <div class="name fw-bold">@reservation.Name</div> <!-- Bring back the name -->
                                <div>
                                    <i class="fa-solid fa-users"></i> @reservation.Guests
                                    <i class="fa-solid fa-chair ms-3"></i> @reservation.Table
                                </div>
                            </div>
                            <button class="btn btn-success">
                                <i class="fa-solid fa-chair"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- Right Panel -->
        <div class="col-md-8">
            <div class="table-layout">
                <div class="table-box"><div class="table-number">1</div></div>
                <div class="table-box"><div class="table-number">2</div></div>
                <div class="table-box"><div class="table-number">3</div></div>
                <div class="table-box"><div class="table-number">4</div></div>
                <div class="table-box"><div class="table-number">5</div></div>
                <div class="table-box"><div class="table-number">6</div></div>
                <div class="table-box"><div class="table-number">7</div></div>
                <div class="table-box"><div class="table-number">8</div></div>
            </div>
        </div>
    </div>
</div>
